@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    height: 100vh;
    width: 100vw;
    background-color: #000000;
}

body{
    background: url('../imagens/fundo-madeira.jpg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main{
    height: 100vh;
    position: relative;
}

section#telephone{
    height: 627px;
    width: 311px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -50%);
    background: url('../imagens/frame-iphone.png') no-repeat;
}

iframe#screen{
    position: relative;
    left: 23px;
    top: 80px;
    width: 267px;
    height: 471px;
}

section#social-media img{
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px #00000073;
    box-sizing: border-box; /*para a bordar fazer só parte da caixa e não se expandir para as outras*/
}

section#social-media img:hover{
    border: 2px solid #ffffff;
    transform: translate(-4px, -4px);
    box-shadow: 5px 5px 10px #000000;
    transition: transform .2s, border .5s;
}
